.poster{
    width:210px;
    height:310px;
    border-radius:12px;
    overflow:hidden;
    position:relative;
    flex-shrink:0;
    cursor:pointer;
    transition:.3s;
}

.poster:hover{
    transform:scale(1.08);
}

.poster img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.posterGradient{
    position:absolute;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.45);
    opacity:0;
    transition:.3s;
}

.poster:hover .posterGradient{
    opacity:1;
}

.posterGradient button{
    width:70px;
    height:70px;
    border-radius:50%;
    background:#E50914;
    color:white;
    font-size:26px;
}