.home{
    min-height:100vh;
    background:#0f0f0f;
}

.homeContent{
    padding-top:140px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.homeContent h1{
    color:#E50914;
    font-size:70px;
    font-weight:900;
}

.homeContent p{
    color:white;
    margin-top:20px;
    font-size:22px;
}